@import "config.pcss";

@custom-media --sm (min-width: $sm);
@custom-media --md (min-width: $md);
@custom-media --lg (min-width: $lg);
@custom-media --xl (min-width: $xl);
@custom-media --xxl (min-width: $xxl);

